@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Esta aplicación te permite administrar toros y vacas en nuestras granjas.</p>
    <p>Puedes utilizarla para enumerar, crear, editar, eliminar y vender toros y vacas.</p>
    <p>¡Comienza a administrar tu ganado hoy mismo!</p>
    <a href="@Url.Action("Index", "Animals")" class="btn btn-primary">Iniciar</a>
</div>
